@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please Login or Register and click the Customers button.
        </p>
    </div>
</div>